<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Coding4All</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <script src="https://smtpjs.com/v3/smtp.js"></script>
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <img class="navbar-brand" src="./assets/logo_transparent.png" width="20%" alt="Coding4All">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="#how-it-works">How it works</a></li>
                            <li class="nav-item"><a class="nav-link" href="#what-we-teach">What we teach</a></li>
                            <li class="nav-item"><a class="nav-link" href="#teachers">For Teachers</a></li>
                            <li class="nav-item"><a class="nav-link" href="#students">For Students</a></li>
                            <li class="nav-item"><a class="nav-link" href="#faq">FAQ</a></li>
                            <li class="nav-item"><a class="nav-link" href="#contact-us">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Header-->
            <header class="bg-dark">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="fw-bolder mb-0">Access to computer education.</h1>
                                <h1 class="fw-bolder mb-0">For <span style="color: #ffc107">everyone.</span></h1>
                                <br/>
                                <p class="lead fw-normal mb-4">We believe parents' qualification or financial status should not determine a child's access to quality computer education. We are here to level the playing field.</p>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <!--<a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Join us on slack <i class="bi bi-slack"></i></a> -->
                                    <a class="btn btn-outline-primary btn-lg px-4" href="#how-it-works">Know More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="assets/banner.jpg" alt="Coding4Alls" /></div>
                    </div>
                </div>
            </header>
            
            
            <!-- How it works section-->
            <section class="py-5" id="how-it-works">
                <div class="container px-5 my-5">
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder-black mb-0">How it <span class="underline">works</span>?</h2></div>
                        <div class="col-lg-8">
                            <div class="row gx-5 row-cols-1 row-cols-md-2">
                                <div class="col mb-5 h-100">
                                    <div class="feature bg-blue bg-gradient text-white rounded-3 mb-3"><i class="bi bi-funnel"></i></div>
                                    <h2 class="h5">Top-down approach</h2>
                                    <p class="mb-0">We start by building something meaningful that can delight the kids right away and get them hooked to learning the details. </p>
                                </div>
                                <div class="col mb-5 mb-md-0 h-100">
                                    <div class="feature bg-blue bg-gradient text-white rounded-3 mb-3"><i class="bi bi-lightning-charge"></i></div>
                                    <h2 class="h5">Curiosity-driven</h2>
                                    <p class="mb-0">Our teaching methodology encourages students to build and experiment, to ignite a curiosity that can keep them going on after the program is complete.</p>
                                </div>
                                <div class="col mb-5 h-100">
                                    <div class="feature bg-blue bg-gradient text-white rounded-3 mb-3"><i class="bi bi-github"></i></div>
                                    <h2 class="h5">Deploy or die</h2>
                                    <p class="mb-0">Students deploy their first website/app in the first couple of classes. They learn by experimenting, improving, and deploying their own live app, which they can share with friends and family.</p>
                                </div>
                                <div class="col h-100">
                                    <div class="feature bg-blue bg-gradient text-white rounded-3 mb-3"><i class="bi bi-gift"></i></div>
                                    <h2 class="h5">100% Free</h2>
                                    <p class="mb-0">The courses are taught by volunteers who are working professionals (software engineers) from all over the world.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <hr>
            <!-- What we teach section-->
            <section class="py-5" id="what-we-teach">
                <div class="container px-5 my-5">
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder-black mb-0">What we <span class="underline">teach</span>?</h2></div>
                        <div class="col-lg-8">
                            <div class="row gx-5 row-cols-1 row-cols-md-2">
                                <div class="col mb-5 h-100">
                                    <div class="feature bg-blue bg-gradient text-white rounded-3 mb-3"><i class="bi bi-book-half"></i></div>
                                    <h2 class="h5">Three modules</h2>
                                    <p class="mb-0">The curriculum is centered around helping students build and deploy three apps by themselves. Each module happens over 8 to 10 sessions of one hour each (~one month).</p>
                                </div>
                                <div class="col mb-5 mb-md-0 h-100">
                                    <div class="feature bg-blue bg-gradient text-white rounded-3 mb-3"><i class="bi bi-file-code"></i></div>
                                    <h2 class="h5">HTML, CSS & Javascript</h2>
                                    <p class="mb-0">Starting from how the internet works, we teach students enought HTML, CSS and JS to help them build and deploy webapps. In our top-down approach, we focus on helping them build end-to-end apps.</p>
                                </div>
                                <div class="col mb-5 h-100">
                                    <div class="feature bg-blue bg-gradient text-white rounded-3 mb-3"><i class="bi bi-github"></i></div>
                                    <h2 class="h5">Deploy with GitHub Pages</h2>
                                    <p class="mb-0">Students deploy their first website/app in the first couple of classes. They learn by experimenting, improving, and deploying their own live app, which they can share with friends and family.</p>
                                </div>
                                <div class="col h-100">
                                    <div class="feature bg-blue bg-gradient text-white rounded-3 mb-3"><i class="bi bi-phone"></i></div>
                                    <h2 class="h5">Learn on a mobile phone</h2>
                                    <p class="mb-0">We designed the curriculum to be doable on an Android phone. Work using an IDE (including GitHub integration) on your phone, no Laptop or Desktop needed.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <hr>
            <!-- For teachers section-->
            <section class="py-5" id="teachers">
                <div class="container px-5 my-5">
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder-black mb-0">For <span class="underline">Fellows</span></h2></div>
                        <div class="col-lg-8">
                            <div class="row gx-5 row-cols-1 row-cols-md-2">
                                <div class="col mb-5 h-100">
                                    <div class="feature bg-blue bg-gradient text-white rounded-3 mb-3"><i class="bi bi-clock"></i></div>
                                    <h2 class="h5">Flexible and few hours</h2>
                                    <p class="mb-0">Teaching a module takes about 8 to 10 hours, and you can ignore the schedule and make up a new one together with your students.</p>
                                </div>
                                <div class="col mb-5 mb-md-0 h-100">
                                    <div class="feature bg-blue bg-gradient text-white rounded-3 mb-3"><i class="bi bi-people"></i></div>
                                    <h2 class="h5">Join a thriving community</h2>
                                    <p class="mb-0">Working professionals from all over the world are teaching underprivileged kids with Coding4All, and many of them return to teach subsequent modules.</p>
                                </div>
                                <div class="col mb-5 h-100">
                                    <div class="feature bg-blue bg-gradient text-white rounded-3 mb-3"><i class="bi bi-github"></i></div>
                                    <h2 class="h5">You are not on your own</h2>
                                    <p class="mb-0">We understand you are not a professional teacher, and we'll help you with a detailed Teacher's Handbook and one-on-one sessions (as many as you need) to guide you.</p>
                                </div>
                                <div class="col h-100">
                                    <div class="feature bg-blue bg-gradient text-white rounded-3 mb-3"><i class="bi bi-house-door"></i></div>
                                    <h2 class="h5">Teach from home</h2>
                                    <p class="mb-0">Teach from the comfort of your home, in the hours you like.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <hr>
            <!-- For students section-->
            <section class="py-5" id="students">
                <div class="container px-5 my-5">
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder-black mb-0">For <span class="underline">Students</span></h2></div>
                        <div class="col-lg-8">
                            <div class="row gx-5 row-cols-1 row-cols-md-2">
                                <div class="col mb-5 h-100">
                                    <div class="feature bg-blue bg-gradient text-white rounded-3 mb-3"><i class="bi bi-people"></i></div>
                                    <h2 class="h5">Coding is for everyone</h2>
                                    <p class="mb-0">Coding is just like any other skill, and you may find that you are good at it. We're here to help you find out - give it a try.</p>
                                </div>
                                <div class="col mb-5 mb-md-0 h-100">
                                    <div class="feature bg-blue bg-gradient text-white rounded-3 mb-3"><i class="bi bi-phone"></i></div>
                                    <h2 class="h5">Build fun things from your phone</h2>
                                    <p class="mb-0">Don't have access to a laptop or a desktop? No problem. Use professional tools from your phone to build fun and interesting apps. Our students do it everyday.</p>
                                </div>
                                <div class="col mb-5 h-100">
                                    <div class="feature bg-blue bg-gradient text-white rounded-3 mb-3"><i class="bi bi-gift"></i></div>
                                    <h2 class="h5">100% Free</h2>
                                    <p class="mb-0">The courses don't cost anything. You'll be taught by volunteers who are working professionals (software engineers) from all over the world.</p>
                                </div>
                                <div class="col h-100">
                                    <div class="feature bg-blue bg-gradient text-white rounded-3 mb-3"><i class="bi bi-house-door"></i></div>
                                    <h2 class="h5">Learn from your home, in your free time</h2>
                                    <p class="mb-0">Learn from the comfort of your home, in the hours you can.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <hr>
            
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="text-center mb-5">
                        <h1 class="fw-bolder-dark" id="faq">Frequently Asked <span style="color: #ebbf28;"><b>Questions</b></span></h1>
                    <div class="row gx-5">
                        <div class="col-xl-8">
                            <!-- FAQ Accordion 1-->
                          <h4 class="fw-bolder mb-3">Tell me more about Coding4All</h4>
                            <div class="accordion mb-5" id="accordionOne">
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="headingOne"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">What is Coding4All? How does it work?</button></h3>
                                    <div class="accordion-collapse collapse" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionOne">
                                        <div class="accordion-body">
                                          <p>We want to make computer education accessible to each student in India regardless of their
parents' qualifications or financial background.</p>

<p>We create a cohort of 4 students (class 8 to class 11) from underprivileged backgrounds and connect them to a teacher (working professional from the tech industry), who guides them through a standardised curriculum focussed on building apps.</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="headingTwo"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Why are we doing this?</button></h3>
                                    <div class="accordion-collapse collapse" id="collapseTwo" aria-labelledby="headingTwo" data-bs-parent="#accordionOne">
                                        <div class="accordion-body">
                                            <p>While coding may not be for everyone and should not be thrust upon children, we strongly believe that every child should have a fair chance to learn it.</p>
                                            <p>We work towards igniting curiosity in students about computers & coding.</p>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="headingThree"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Does Coding4All charge money?</button></h3>
                                    <div class="accordion-collapse collapse" id="collapseThree" aria-labelledby="headingThree" data-bs-parent="#accordionOne">
                                        <div class="accordion-body">
                                            <p>No.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="headingFour"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">How does Coding4All make money?</button></h3>
                                    <div class="accordion-collapse collapse" id="collapseFour" aria-labelledby="headingFour" data-bs-parent="#accordionOne">
                                        <div class="accordion-body">
                                            <p>We are not trying to make money.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="headingFive"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">How does Coding4All measure its impact?</button></h3>
                                    <div class="accordion-collapse collapse" id="collapseFive" aria-labelledby="headingFive" data-bs-parent="#accordionOne">
                                        <div class="accordion-body">
                                            <p>We focus on teaching as many underprivileged kids as we can, to take their first few applications to production</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="headingSix"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix"> How can I sign up?</button></h3>
                                    <div class="accordion-collapse collapse" id="collapseSix" aria-labelledby="headingSix" data-bs-parent="#accordionOne">
                                        <div class="accordion-body">
                                            <p>You can reach us at hello.coding4all@gmail.com or use the contact us form below. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- FAQ Accordion 2-->
                            <h4 class="fw-bolder mb-3">Tell me about teaching</h4>
                            <div class="accordion mb-5" id="accordionTwo">
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="headingSeven"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">Am I the right person for teaching?</button></h3>
                                    <div class="accordion-collapse collapse" id="collapseSeven" aria-labelledby="headingSeven" data-bs-parent="#accordionTwo">
                                        <div class="accordion-body">
                                            <p>If programming is a part of your job, then you're ready to take this up. We will help you at every stage from onboarding to planning your sessions to helping students deploy their apps.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="headingEight"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">How much time do I have to commit?</button></h3>
                                    <div class="accordion-collapse collapse" id="collapseEight" aria-labelledby="headingEight" data-bs-parent="#accordionTwo">
                                        <div class="accordion-body">
                                            <p>
                                                The typical course has 8 sessions, each 60 to 90 minutes long. While we recommend conducting the sessions over four consecutive weekends (one session every Saturday/Sunday), you're free to talk to your students and figure out a time that is suitable to all of you, including weekdays.</p>
                                            <p>
                                                As a one time activity, you will also need to spend an hour or two (YMMV) going through our Teacher's Handbook and planning your session.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="headingNine"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">I have no prior experience teaching. Should I sign up?</button></h3>
                                    <div class="accordion-collapse collapse" id="collapseNine" aria-labelledby="headingNine" data-bs-parent="#accordionTwo">
                                        <div class="accordion-body">
                                            <p>
                                                Prior experience in teaching is not required, though if you've taught kids before, you know you're going to like it. We will help you navigate our Teacher's Handbook which details our top-down teaching philosophy and includes a detailed lesson plan along with exercises and project ideas (you're welcome to bring your own style and mateiral). 
                                            </p>
                                            <p>
                                                Also, our existing teachers’ community will be there to help you out at every stage.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="headingTen"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">How do I come up with a syllabus and a curriculum?</button></h3>
                                    <div class="accordion-collapse collapse" id="collapseTen" aria-labelledby="headingTen" data-bs-parent="#accordionTwo">
                                        <div class="accordion-body">
                                            <p>
                                                You can start with the syllabus and curriculum included in our Teacher's Handbook and bring in the things you would like to teach.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="headingEleven"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">Tell me more about the students I'll be teaching.</button></h3>
                                    <div class="accordion-collapse collapse" id="collapseEleven" aria-labelledby="headingEleven" data-bs-parent="#accordionTwo">
                                        <div class="accordion-body">
                                            <p>
                                                This program is made for teaching computer programming to bright students from underprivileged backgrounds. We try to ensure that all the selected students are comfortable with basic English communication skills and are interested in learning computer programming.
                                            </p>
                                            <p>
                                                Side note - If this is your first time working with high school students, one thing you need to keep in mind is that while most of the students are expressive and respond in the class, there are always a few quiet and shy ones. So, don’t get bogged down. In our experience, they also come along once a couple of classes are done. 
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-xl-4">
                            <div class="card border-0 bg-light mt-xl-5">
                                <div class="card-body p-4 py-lg-5">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <div class="text-center">
                                            <div class="h6 fw-bolder-black">Have more questions?</div>
                                            <p class="text-muted mb-4">
                                                Contact us at
                                                <br />
                                                <a href="#!">hello.coding4all@gmail.com</a>
                                            </p>
                                          <!--  <div class="h6 fw-bolder">Follow us</div>
                                            <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-twitter"></i></a>
                                            <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-facebook"></i></a>
                                            <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-linkedin"></i></a>
                                            <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-youtube"></i></a>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            
            <!-- Testimonial section-->
            <div class=" bg-light" style="padding: 5px">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-10 col-xl-7">
                            <div class="text-center">
                                <div class="fs-4 mb-4 fst-italic">"If we teach today as we taught yesterday, we our children of tomorrow."</div>
                                <div class="d-flex align-items-center justify-content-center">
                                    <div class="fw-bold">
                                        - John Dewey
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    
            <!-- Fellows section-->
            <section class="py-5" id="fellows">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <div class="text-center">
                                <h2 class="fw-bolder-dark">From our <span style="color: #ebbf28"><b>Fellows</b></span></h2>
                                <p class="lead fw-normal text-muted mb-5"> Engineers have always changed the world for good, here are some of our heros.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-5">
                        
<!--

                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="./assets/teachers/Aditi_JP_Morgan_Mumbai.jpeg" alt="..." />
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">Mumbai</div>
                                    <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Aditi Mewada</h5></a>
                                    <p class="card-text mb-0">JP Morgan & Chase</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="/assets/teachers/Alok_eMetric_San%20Antonio_Texas.jpeg" alt="..." />
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">San Antonio, Texas</div>
                                    <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Alok</h5></a>
                                    <p class="card-text mb-0"> eMetric </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="assets/teachers/Lalitha_Trimble_Chennai.jpeg" alt="..." />
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">Chennai</div>
                                    <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Lalitha</h5></a>
                                    <p class="card-text mb-0">Cisco</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="assets/teachers/Fazil_Cisco_%20Bengaluru.jpeg" alt="..." />
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">Bangaluru</div>
                                    <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Fazil</h5></a>
                                    <p class="card-text mb-0">Cisco</p>
                                </div>
                            </div>
                        </div>
-->
                    </div>
                </div>
            </section>
            <!-- Blog preview section-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <div class="text-center">
                                <h2 class="fw-bolder-dark">From our <span style="color: #ebbf28"><b>Students</b></span></h2>
                                <p class="lead fw-normal text-muted mb-5"> We believe technology is a show skill and here are some of our Showmans to illustrate the power of knowledge</p>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-5">
                        
                        <div class="col-lg-2 mb-3">
                            <div class="card h-100 shadow border-0" align="center">
                                <div class="small" style="padding: 10px">
                                    <div class="fw-bold">Aniket, <span style="color: #ebbf28">Ahemdabad</span></div>
                                    <a href="https://99aniket.github.io/" class="badge bg-primary bg-gradient rounded-pill mb-2">My School</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 mb-3">
                            <div class="card h-100 shadow border-0" align="center">
                                <div class="small" style="padding: 10px">
                                    <div class="fw-bold">Sanchit, <span style="color: #ebbf28">Delhi</span></div>
                                    <div class="text-muted"><a href="https://sanchitpandey2006.github.io/" class="badge bg-primary bg-gradient rounded-pill mb-2">My favourite Footballer</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 mb-3">
                            <div class="card h-100 shadow border-0" align="center">
                                <div class="small" style="padding: 10px">
                                    <div class="fw-bold">Shravani,  <span style="color: #ebbf28">Mumbai</span></div>
                                    <div class="text-muted"><a href="https://shravani-gunji.github.io/mysite/" class="badge bg-primary bg-gradient rounded-pill mb-2">Extinction of animals</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 mb-3">
                            <div class="card h-100 shadow border-0" align="center">
                                <div class="small" style="padding: 10px">
                                    <div class="fw-bold">Sneha,  <span style="color: #ebbf28">Delhi</span></div>
                                    <div class="text-muted"><a href="https://snehacoding.github.io/firstcoding/" class="badge bg-primary bg-gradient rounded-pill mb-2">Delhi pollution update</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 mb-3">
                            <div class="card h-100 shadow border-0" align="center">
                                <div class="small" style="padding: 10px">
                                    <div class="fw-bold">Viraj,  <span style="color: #ebbf28">Mumbai</span></div>
                                    <div class="text-muted"><a href="https://sonivraj82.github.io/" class="badge bg-primary bg-gradient rounded-pill mb-2">Places to visit in India</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 mb-3">
                            <div class="card h-100 shadow border-0" align="center">
                                <div class="small" style="padding: 10px">
                                    <div class="fw-bold">Omer,  <span style="color: #ebbf28">Hyderabad</span></div>
                                    <div class="text-muted"><a href="https://omerbalwari.github.io/" class="badge bg-primary bg-gradient rounded-pill mb-2">My Portfolio</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-5">
                        
                        <div class="col-lg-2 mb-3">
                            
                        </div>
                        <div class="col-lg-2 mb-3">
                            <div class="card h-100 shadow border-0" align="center">
                                <div class="small" style="padding: 10px" align="center">
                                    <div class="fw-bold">Prathesh, <span style="color: #ebbf28">Chennai</span></div>
                                    <div class="text-muted"><a href="https://prathesh2.github.io/" class="badge bg-primary bg-gradient rounded-pill mb-2">My favorite actor</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 mb-3">
                            <div class="card h-100 shadow border-0" align="center">
                                <div class="small" style="padding: 10px">
                                    <div class="fw-bold">Aakash,  <span style="color: #ebbf28">Mumbai</span></div>
                                    <div class="text-muted"><a href="https://aakashkumar2006.github.io/" class="badge bg-primary bg-gradient rounded-pill mb-2">My favorite footballer</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 mb-3">
                            <div class="card h-100 shadow border-0" align="center">
                                <div class="small" style="padding: 10px">
                                    <div class="fw-bold">Premlata,  <span style="color: #ebbf28">Mumbai</span></div>
                                    <div class="text-muted"><a href="https://premlata19.github.io/" class="badge bg-primary bg-gradient rounded-pill mb-2">My Family</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 mb-3">
                            <div class="card h-100 shadow border-0" align="center">
                                <div class="small" style="padding: 10px">
                                    <div class="fw-bold">Mohit,  <span style="color: #ebbf28">Ahemdabad</span></div>
                                    <div class="text-muted"><a href="https://mohit9911.github.io/" class="badge bg-primary bg-gradient rounded-pill mb-2">Incredible India</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 mb-3">
                            
                        </div>
                    </div>
                    <!-- Call to action-->
                    <aside class="bg-dark bg-gradient rounded-3 p-4 p-sm-5 mt-5" id="contact-us">
                        <div class="text-center mb-5">
                        <div class="feature bg-primary text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                        <h1 class="fw-bolder">Get in <span style="color: #ebbf28">touch </span></h1>
                        <p class="lead fw-normal mb-0">We'd love to hear from you</p>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- * * SB Forms Contact Form * *-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- This form is pre-integrated with SB Forms.-->
                            <!-- To make this form functional, sign up at-->
                            <!-- https://startbootstrap.com/solution/contact-forms-->
                            <!-- to get an API token!-->
                            <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                                <!-- Name input-->
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                                    <label for="name">Full name</label>
                                    <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                                </div>
                                <!-- Email address input-->
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                                    <label for="email">Email address</label>
                                    <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                    <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                                </div>
                                <!-- Phone number input-->
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                                    <label for="phone">Phone number</label>
                                    <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                                </div>
                                <!-- Message input-->
                                <div class="form-floating mb-3">
                                    <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                                    <label for="message">Message</label>
                                    <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                                </div>
                                <!-- Submit success message-->
                                <!---->
                                <!-- This is what your users will see when the form-->
                                <!-- has successfully submitted-->
                                <div class="d-none" id="submitSuccessMessage">
                                    <div class="text-center mb-3">
                                        <div class="fw-bolder">Form submission successful!</div>
                                        To activate this form, sign up at
                                        <br />
                                        <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                    </div>
                                </div>
                                <!-- Submit error message-->
                                <!---->
                                <!-- This is what your users will see when there is-->
                                <!-- an error submitting the form-->
                                <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                                <!-- Submit Button-->
                                <div class="d-grid"><button class="btn btn-yellow btn-lg" id="submitButton" type="submit" onclick="sendEmail()">Submit</button></div>
                            </form>
                        </div>
                    </div>
<!--
                        <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                            <div class="mb-4 mb-xl-0">
                                <div class="fs-3 fw-bold text-white">New products, delivered to you.</div>
                                <div class="text-white-50">Sign up for our newsletter for the latest updates.</div>
                            </div>
                            <div class="ms-xl-4">
                                <div class="input-group mb-2">
                                    <input class="form-control" type="text" placeholder="Email address..." aria-label="Email address..." aria-describedby="button-newsletter" />
                                    <button class="btn btn-outline-light" id="button-newsletter" type="button">Sign up</button>
                                </div>
                                <div class="small text-white-50">We care about privacy, and will never share your data.</div>
                            </div>
                        </div>
-->
                    </aside>
                </div>
            </section>
        </main>
        <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Coding4All 2022</div>
                    <a class="small m-0 text-white" href="https://www.freepik.com/vectors/banner">Banner vector created by katemangostar - www.freepik.com</a>
                    </div>
                    <div class="col-auto">
                        <a class="link-light small" href="#!"> hello.coding4all@gmail.com</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
                <script src="js/scripts.js"></script>
    
        <script type="text/javascript">
            function sendEmail() {
                let name = document.getElementById("name").value; 
                let email = document.getElementById("email").value; 
                let phone = document.getElementById("phone").value; 
                let message = document.getElementById("message").value; 
              Email.send({
                Host: "smtp.gmail.com",
                Username: "hello.coding4all@gmail.com",
                Password: "coding4all@21",
                To: 'hello.coding4all@gmail.com',
                From: "hello.coding4all@gmail.com",
                Subject: "Query From : " + name ,
                Body: "Message : " + message + " \n Phone : " + phone,
              })
                .then(function (message) {
                  alert("mail sent successfully")
                });
            }
          </script>
    </body>
</html>
